.about {
  height: 100vh;
  width: 100vw;
  padding: 10%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 5rem;
  border-top: 5px solid $color-secondary;

  @include response(desktop) {
    padding: 10% 5%;
  }

  @include response(tab-port) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 5% 10%;
    grid-gap: 2rem;
    text-align: center;
  }

  // set this mediaQuery for Nexus10
  @media (height: 1280px) and (width: 800px) {
    grid-gap: 10rem;
  }

  // set this mediaQuery for ipadPro
  @media (max-width: 1024px) and (min-height: 1366px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 5% 10%;
    grid-gap: 6rem;
    text-align: center;
  }

  @include response(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 5%;
    grid-gap: 3rem;
    text-align: center;
  }

  &__pic {
    width: 100%;
  }

  &__text {
    position: relative;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;

    @include response(tab-land) {
      font-size: 1.3rem;
      padding: 1rem;
    }

    @include response(tab-port) {
      padding: 1rem;
    }

    &-details {
      margin-top: 3.5rem;

      @include response(tab-port) {
        margin-top: 1.5rem;
      }

      p {
        margin-bottom: 1.5rem;

        @include response(phone) {
          font-size: 1.4rem;
        }
      }
    }

    &-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 4rem;

      @include response(tab-port) {
        margin-bottom: 3rem;
      }

      @include response(phone) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 3rem;
      }


      .social-icons {
        margin-top: .6rem;
        display: flex;
        justify-content: space-between;
        width: 40%;
        align-items: center;

        @include response(desktop) {
          font-size: 1.4rem;
        }

        & a {
          color: $color-primary;
          transition: .2s ease-in-out;
        }

        & a:hover {
          color:$color-primary-ligth;
        }

      }
      
      @include response(laptop) {
        .btn {
          padding: 1.2rem 2.8rem;
        }
        .social-icons {
          font-size: 1.1rem; 
        }
      }
      
      @include response(phone) {
        .btn {
          width: 100%;
          text-align: center;
          padding: 1.3rem 2.9rem;
          margin-bottom: 2.3rem;
        }
        .social-icons {
          justify-content: space-between;
          width: 100%;
          font-size: 1.2rem;
          padding-bottom: 2.5rem;
        }
      }
    }

    .page-header {
      &-text {
        & p {
          margin-right: 2.1rem;
        }
      }
    }
  }
}