.skills {
  width: 100vw;
  height: 100vh;
  padding:0 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 5px solid $color-secondary;

  @include response(tab-port) {
    padding: 100px 8%;
    height: 100%;
  }

  // @include response(phone) {
  //   padding: 100px 8%;
  //   height: 100%;
  // }

  // customize page header for skills.html page
  .page-header {
    align-self: flex-start;
    width: 20rem;

    h1 {
      letter-spacing: 1.2rem;
    }
    
    &-text::after {
      width: 28%;
    }

    p {
      font-size: 1.8rem;
    }
  }

  .skills-columns {
    margin-top:6.5rem;
    width: 100%;
    display: grid;
    grid-template-areas: "languages frameworks tools design";
    grid-gap: 3rem;
    
    @include response(tab-port) {
      grid-template-areas: 
        "languages frameworks"
        "tools design";
    }

    @include response(phone) {
      grid-template-areas: 
        "languages" 
        "frameworks"
        "tools"
        "design";
    }

    & h1 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    & p {
      font-size: 1.8rem;
      margin-left: 1.1rem;

      @include response(laptop) {
        font-size: 1.4rem;
      }
    }

    & .skills-column {
      display: flex;
      flex-direction: column;

      & .skill {
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
      }
    }
  }
}
