@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Roboto:100,300,400,500,700');

$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$color-primary: #1C1E22;
$color-primary-ligth: #A7A7A7;
$color-secondary: #E82363;
$color-secondary-dark: #c21a4f;
$color-white: #FFFFFF;